.back{
    margin: 0;
    background-image: url('../../assets/FotoContacLoginRegister.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position-x: center;
    background-attachment: inherit;
    min-height: 50vh;
  }

  input:focus, textarea:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
.createAccount:disabled{
  cursor: not-allowed;
  background-color: rgb(148, 109, 12);
  color: darkgrey;
}

@media screen and (max-width: 768px){
  .back{
    background-size: 200%;
    background-position-y: 50%;
    background-position-x: 25%;
    height: 55vh;
  }
}

@media screen and (max-width: 425px){
  .back{
    background-size: 325%;
    background-position-x: 25%;
    background-position-y: 120%;
  }
}


@media screen and (max-width: 375px){
  .back{
    background-size: 290%;
    background-position-x: 25%;
    background-position-y: 120%;
  }
  #contactLogo{
    width: 27%;
    margin-top: 5px !important;
  }
  #contactTitle{
    margin-top: 0;
  }
}

