.videoList {
    background-color: #222;
}

.videoSearchInput:focus,
.videoSearchInput:active,
.videoSearchInput:hover {
    box-shadow: none !important;
    outline: none;
}

.videoItem {
    background-color: #222;
    color: #fafafa;
    border-bottom: 1px solid #f36100;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}