
.banner{
    margin: 0;
    min-height: 100vh;
    background-image: url('../../assets//HomeBanner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -35%;
    background-attachment: fixed;
  }
  
  .banner:after {
    content:"";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top:0;
    left:0;
  
    opacity:0.2;
    z-index:-1;
  }

  .sectionContainer {
    height: 100vh;
  }
  .homeButton {
    color: #222 !important;
    font-weight: bolder !important;
  }
  .homeButton:hover {
    color: white !important;
  }


  #logo {
    width: 450px;
    margin-bottom: 20px;
    border-color: orange;
  }

  @media (max-width: 360px) {
    #text{ font-size: 45px; }
 }
 @media (max-width: 540px) {
  #text{ 
    font-size: 45px; 
    margin-top: 40px;
  }
  .banner{
    background-position-x: center;
  }
  .homeButton {
    margin-top: 45%;
  }
 }
 @media (max-width: 280px) {
    #text{ 
      font-size: 35px; 
      
    }
}