.header-desktop .navbar{
	justify-content: space-between;
}
.navbar-brand{
	display: flex;
}
.brand-title{
	margin: 0;
	align-self: center;
}

.myButton{text-decoration:none; text-align:center; 
	padding: 10px 25px; 
	font: 14px Arial, Helvetica, sans-serif; 
	font-weight: bold;
	border: none;
	background: #f36100;
	border: 1px solid #333;
	border-radius: 0;
	box-shadow: none;
	transition: ease-in-out 200ms;
}
.myButton:hover{
	border: 1px solid #f36100;
	background: #333;
}



@media (max-width: 991px) {
	.header-mobile{
		display: initial;
	}
	.header-desktop{
		display: none;
	}
}
@media (min-width: 992px) {
	.header-mobile{
		display: none;
	}
	.header-desktop{
		display: initial;
	}
}